{% if fq is not defined %}
    {# Should be a single-quoted string, since the NYT Article Search API needs those double quotes. #}
    {% set fq = 'organizations:("WIKILEAKS")' %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nested Year Timelines (NYT){% if fq is defined %} &mdash; {{ fq }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nyt.css') }}">
    </head>
    <body>
        <div id="container">
            <header>
                <div class="column loading">
                    <div class="wrapper">
                        <h1>Nested Year Timelines (NYT)</h1>
                        <form id="pages">
                            <select id="page" name="page">
                            {% if fq is defined and fq not in sample_queries %}
                                <option value=" {{  url_for('search', fq=fq) }}" selected="selected">{{ fq }}</option>
                            {% endif %}
                            {% if sample_queries is defined %}
                                {% for query in sample_queries %}
                                    <option value=" {{  url_for('search', fq=query) }}"{% if fq == query %}  selected="selected"{% endif %}>{{ query }}</option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        </form>
                    </div>
                </div>
                <div class="column">
                    <p>
                        <strong>Nested Year Timelines (NYT)</strong> is a hierarchical timeline visualization. It supports exploring large sets of news articles from <strong><a href="http://nyt.com">The New York Times</a></strong>, based on a search query. <strong>Hover on or click a bar below to start exploring.</strong>
                        <br><br>Created by <strong><a href="http://stewed.co">Michael Beswetherick</a></strong> and <strong><a href="https://kohlmannj.com/">Joe Kohlmann</a></strong> as a final project for <a href="http://courses.cs.washington.edu/courses/cse512/14wi/">CSE 512: Data Visualization (Winter 2014)</a> at the <a href="http://uw.edu/">University of Washington</a>.
                    </p>
                </div>
                <div class="column">
                    <p class="wrapper">
                        <strong>Note:</strong> Some search results are cached, while others may take some time to load from the <a href="http://developer.nytimes.com/docs/read/article_search_api_v2">NYT Article Search API</a>. Please be patient.
                        <br><br>
                        <a href="http://developer.nytimes.com/">
                            <img src="{{ url_for('static', filename='img/poweredby_nytimes_200a.png') }}" alt="Data provided by the New York Times."/>
                        </a>
                    </p>
                </div>
            </header>
            <div class="content years loading">
                <div id="articles_timeline" class="articles_timeline timeline hidden"></div>
                <svg id="months_timeline" class="months_timeline bar_graph_timeline timeline hidden"></svg>
                <svg id="years_timeline" class="years_timeline bar_graph_timeline timeline hidden"></svg>
            </div>
        </div>


        <!-- flask_util.url_for() in JavaScript: https://github.com/kohlmannj/flask_util_js -->
        <script type="text/javascript" src="{{ url_for("flask_util_js") }}" charset="utf-8"></script>
        <!-- D3 CDN with Local Fallback -->
        <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
        <script>window.d3 || document.write('<script src="{{ url_for('static', filename='js/vendor/d3.js') }}" charset="utf-8"><\/script>')</script>
        <!-- jQuery CDN with Local Fallback -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-2.1.0.min.js') }}"><\/script>')</script>
        <!-- Underscore CDN with Local Fallback -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" charset="utf-8"></script>
        <script>window._ || document.write('<script src="{{ url_for('static', filename='js/vendor/underscore-min.js') }}"><\/script>')</script>
        <!-- Backbone -->
        <!--script src="{{ url_for('static', filename='js/vendor/backbone-min.js') }}"></script-->
        <!-- Plugins -->
        <!--script src="js/plugins.js"></script-->
        <!-- D3 Fisheye Plugin -->
        <script src="{{ url_for('static', filename='js/fisheye.js') }}"></script>
        {% if fq is defined %}
        <script>
            var fq = '{{ fq|safe }}';
        </script>
        {% endif %}
        <!-- Main Scripts -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!--script src="{{ url_for('static', filename='js/nyt.js') }}"></script-->
    </body>
</html>
