/* line 23, ../sass/nyt.scss */
body {
  font-family: Avenir;
  margin: 0;
}

/* line 28, ../sass/nyt.scss */
p, text {
  font-size: 9.23pt;
}

/* line 32, ../sass/nyt.scss */
p {
  width: 300px;
  margin-top: 40px;
}

/* line 37, ../sass/nyt.scss */
h1, .donut, p {
  margin-left: 80px;
}

/* line 41, ../sass/nyt.scss */
h1 {
  margin-top: 20px;
  font-size: 40pt;
  margin-bottom: 0px;
}

/* line 47, ../sass/nyt.scss */
text {
  fill: white;
}

/* line 51, ../sass/nyt.scss */
.content {
  margin: 32pt;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  height: 0px;
  /* Magic padding to prevent things from getting cut off */
  padding-bottom: 64px;
  overflow: hidden;
}
/* line 60, ../sass/nyt.scss */
.content.years {
  height: 200px;
}
/* line 63, ../sass/nyt.scss */
.content.years .months_timeline, .content.years .articles_timeline {
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 68, ../sass/nyt.scss */
.content.years .years_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, -532px);
  -moz-transform: scale(1, 1) translate(0, -532px);
  -ms-transform: scale(1, 1) translate(0, -532px);
  -o-transform: scale(1, 1) translate(0, -532px);
  transform: scale(1, 1) translate(0, -532px);
}
/* line 77, ../sass/nyt.scss */
.content.years-months {
  height: 416px;
}
/* line 80, ../sass/nyt.scss */
.content.years-months .articles_timeline {
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 85, ../sass/nyt.scss */
.content.years-months .months_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, -316px);
  -moz-transform: scale(1, 1) translate(0, -316px);
  -ms-transform: scale(1, 1) translate(0, -316px);
  -o-transform: scale(1, 1) translate(0, -316px);
  transform: scale(1, 1) translate(0, -316px);
}
/* line 93, ../sass/nyt.scss */
.content.years-months .years_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, -316px);
  -moz-transform: scale(1, 1) translate(0, -316px);
  -ms-transform: scale(1, 1) translate(0, -316px);
  -o-transform: scale(1, 1) translate(0, -316px);
  transform: scale(1, 1) translate(0, -316px);
}
/* line 102, ../sass/nyt.scss */
.content.years-articles {
  height: 516px;
}
/* line 104, ../sass/nyt.scss */
.content.years-articles .months_timeline {
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 109, ../sass/nyt.scss */
.content.years-articles .years_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, -216px);
  -moz-transform: scale(1, 1) translate(0, -216px);
  -ms-transform: scale(1, 1) translate(0, -216px);
  -o-transform: scale(1, 1) translate(0, -216px);
  transform: scale(1, 1) translate(0, -216px);
}
/* line 118, ../sass/nyt.scss */
.content.years-months-articles {
  height: 732px;
}
/* line 121, ../sass/nyt.scss */
.content.years-months-articles .months_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, 0);
  -moz-transform: scale(1, 1) translate(0, 0);
  -ms-transform: scale(1, 1) translate(0, 0);
  -o-transform: scale(1, 1) translate(0, 0);
  transform: scale(1, 1) translate(0, 0);
}
/* line 129, ../sass/nyt.scss */
.content.years-months-articles .years_timeline {
  opacity: 1.0;
  -webkit-transform: scale(1, 1) translate(0, 0);
  -moz-transform: scale(1, 1) translate(0, 0);
  -ms-transform: scale(1, 1) translate(0, 0);
  -o-transform: scale(1, 1) translate(0, 0);
  transform: scale(1, 1) translate(0, 0);
}

/* line 139, ../sass/nyt.scss */
.timeline {
  display: block;
  width: 100%;
  height: 200px;
  background-color: white;
  padding-bottom: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  opacity: 1;
}
/* line 149, ../sass/nyt.scss */
.timeline:last-child {
  padding-bottom: 0;
}

/* line 154, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar text.annotation, div.articles_timeline h2 {
  font-size: 14px;
  line-height: 18px;
  fill: #999999;
  color: #999999;
  font-weight: 500;
  text-anchor: middle;
  text-align: center;
  margin: 0;
}

/* line 166, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar {
  cursor: pointer;
}
/* line 169, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar.empty, svg.bar_graph_timeline g.bar.active {
  cursor: auto;
}
/* line 173, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar rect {
  stroke: white;
  stroke-width: 2px;
}
/* line 178, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar rect.bg {
  fill: #efefef;
  stroke: white;
  stroke-width: 2px;
}
/* line 184, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar rect.fg {
  fill: #3d5c95;
}
/* line 188, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar text.label {
  font-size: 18px;
  line-height: 24px;
  text-anchor: middle;
  font-weight: 500;
  fill: #000;
}
/* line 202, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar:not(.empty):hover rect.bg, svg.bar_graph_timeline g.bar:not(.empty).active rect.bg {
  fill: #cccccc;
}
/* line 206, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar:not(.empty):hover rect.fg, svg.bar_graph_timeline g.bar:not(.empty).active rect.fg {
  fill: #cc0000;
}
/* line 210, ../sass/nyt.scss */
svg.bar_graph_timeline g.bar:not(.empty):hover text.annotation, svg.bar_graph_timeline g.bar:not(.empty).active text.annotation {
  fill: #000;
}

/* line 217, ../sass/nyt.scss */
div.articles_timeline {
  height: 300px;
}
/* line 220, ../sass/nyt.scss */
div.articles_timeline .timelineContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 226, ../sass/nyt.scss */
div.articles_timeline h2 {
  line-height: 24px;
}
/* line 235, ../sass/nyt.scss */
div.articles_timeline .article {
  background-color: #efefef;
  color: #666;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  border: 2px solid white;
}
/* line 246, ../sass/nyt.scss */
div.articles_timeline .article .rectInside:before, div.articles_timeline .article:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 239, 239, 0)), color-stop(100%, rgba(239, 239, 239, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(239, 239, 239, 0), rgba(239, 239, 239, 0.5));
  background-image: -moz-linear-gradient(top, rgba(239, 239, 239, 0), rgba(239, 239, 239, 0.5));
  background-image: -o-linear-gradient(top, rgba(239, 239, 239, 0), rgba(239, 239, 239, 0.5));
  background-image: linear-gradient(top, rgba(239, 239, 239, 0), rgba(239, 239, 239, 0.5));
  opacity: 0;
}
/* line 259, ../sass/nyt.scss */
div.articles_timeline .article:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 239, 239, 0.5)), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, rgba(239, 239, 239, 0.5), #efefef);
  background-image: -moz-linear-gradient(top, rgba(239, 239, 239, 0.5), #efefef);
  background-image: -o-linear-gradient(top, rgba(239, 239, 239, 0.5), #efefef);
  background-image: linear-gradient(top, rgba(239, 239, 239, 0.5), #efefef);
  opacity: 1.0;
}
/* line 264, ../sass/nyt.scss */
div.articles_timeline .article .rectInside {
  padding: 32px 12px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 273, ../sass/nyt.scss */
div.articles_timeline .article h3, div.articles_timeline .article p, div.articles_timeline .article cite {
  padding: 0 4px;
  display: block;
  position: relative;
  z-index: 1;
  color: inherit;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  width: 320px;
}
/* line 285, ../sass/nyt.scss */
div.articles_timeline .article h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
/* line 291, ../sass/nyt.scss */
div.articles_timeline .article p {
  /* A magic number that limits the snippet to 3 lines of text */
  max-height: 62px;
  overflow-y: hidden;
}
/* line 297, ../sass/nyt.scss */
div.articles_timeline .article cite {
  font-size: 14px;
}
/* line 301, ../sass/nyt.scss */
div.articles_timeline .article .imgContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  min-width: 320px;
}
/* line 310, ../sass/nyt.scss */
div.articles_timeline .article .imgContainer img {
  width: auto;
  height: auto;
  position: absolute;
  left: -50%;
  right: -50%;
  top: 0;
  margin: auto;
}
/* line 321, ../sass/nyt.scss */
div.articles_timeline .article .imgContainer.thumbnail img {
  width: auto;
  top: 12.5%;
}
/* line 326, ../sass/nyt.scss */
div.articles_timeline .article .imgContainer:not(.thumbnail) img {
  min-width: 640px;
}
/* line 331, ../sass/nyt.scss */
div.articles_timeline .article:hover {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  background-color: #3d5c95;
  /* Lower the opacity of non-thumbnail images */
  /* Different hover appearance for articles with non-thumbnail images */
}
/* line 337, ../sass/nyt.scss */
div.articles_timeline .article:hover:after {
  opacity: 0.0;
}
/* line 342, ../sass/nyt.scss */
div.articles_timeline .article:hover .imgContainer:not(.thumbnail) {
  opacity: 0.65;
}
/* line 347, ../sass/nyt.scss */
div.articles_timeline .article:hover .imgContainer:not(.thumbnail) + .rectInside {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
}
/* line 351, ../sass/nyt.scss */
div.articles_timeline .article:hover .imgContainer:not(.thumbnail) + .rectInside:before {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(61, 92, 149, 0)), color-stop(100%, rgba(61, 92, 149, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(61, 92, 149, 0), rgba(61, 92, 149, 0.5));
  background-image: -moz-linear-gradient(top, rgba(61, 92, 149, 0), rgba(61, 92, 149, 0.5));
  background-image: -o-linear-gradient(top, rgba(61, 92, 149, 0), rgba(61, 92, 149, 0.5));
  background-image: linear-gradient(top, rgba(61, 92, 149, 0), rgba(61, 92, 149, 0.5));
  opacity: 1.0;
}
