// ---------------------------------------------------------------------------
// Imports

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/text/ellipsis";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns   : 16;
$column-width    : 4em;
$gutter-width    : 1em;
$grid-padding    : $gutter-width;

$show-grid-backgrounds  : true;

//$base-font-size  : 16px;
//$base-line-height: 24px;
//$round-to-nearest-half-line: false;

// http://stackoverflow.com/a/12335841
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}
/* A customized em() function that uses $base-font-size. */
@function em($px, $font-size: $base-font-size) {
  @return 1em * $px / $font-size;
}
