$margin: 32pt;
$fillColor: #3D5C95;
$fillColorActive: #cc0000;

body{
	font-family: Avenir;
	margin: 0;
}

p, text{
	font-size: 9.23pt;
}

p {
	width: 300px;
	margin-top: 100px;
}

h1, .donut, p {
	margin-left: 80px;
}

h1 {
	margin-top: 40px;
	font-size: 40pt;
	margin-bottom: 0px;
}

text {
	fill: white;
}

//#single_year_timeline {
//  border: 2px solid blue;
//}

.content {
  margin: $margin;
  height: 640px;

  svg {
    width: 100%;
  }
}

svg g#all_years_timeline, svg g#month_timeline {
  g.bar {
    rect.bg {
      fill: #efefef;
      stroke: #fff;
      stroke-width: 2px;
    }

    rect.fg {
      fill: $fillColor;
      stroke: #fff;
      stroke-width: 2px;
      -webkit-transition-property: fill;
      -webkit-transition-duration: 0.25s;
    }

    text.label {
      font-size: 18px;
      line-height: 24px;
      text-anchor: middle;
      font-weight: 500;
      fill: #000;
    }

    text.annotation {
      font-size: 14px;
      line-height: 18px;
      text-anchor: middle;
      font-weight: 500;
      fill: #999;
    }

    &:hover, &.active {
      rect.bg {
        fill: #ccc;
      }

      rect.fg {
        fill: $fillColorActive;
      }
    }
  }
}

div#single_year_timeline {
  position: relative;
  background: purple;

  .rect {
    width: 160px;
    height: 250px;
    background-color: $fillColor;
    color: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;

    .rectInside {
      width: 420px;
      height: 100%;
      padding: 10px;
      background: gray;
      margin: 0 auto;
    }

    h3 {
      margin: 0;
      font-weight: 500;
      background-color: green;
    }

    p {
      background-color: white;
    }

    img {
      display: block;
      max-width: 100%;
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }
}
